statemachine/update_model.asl.json
{
    "Comment": "The workflow for creating and updating the Forecast Prediction Model",
    "StartAt": "CreateNewDataset",
    "States": {
        "CreateNewDataset": {
            "Type": "Task",
            "Resource": "${CreateDatasetArn}",
            "Parameters": {
                "StateMachineName": "update-model",
                "DatasetGroup": {
                    "Domain": "CUSTOM"
                },
                "Predictor": {
                    "ForecastHorizon": 2,
                    "FeaturizationConfig": {
                        "ForecastFrequency": "H"
                    },
                    "PerformAutoML": true
                },
                "Forecast": {
                    "ForecastTypes": [
                        "0.50"
                    ]
                },
                "TimestampFormat": "yyyy-MM-dd hh:mm:ss",
                "Datasets": [
                    {
                        "Domain": "CUSTOM",
                        "DatasetType": "TARGET_TIME_SERIES",
                        "DataFrequency": "H",
                        "Schema": {
                            "Attributes": [
                                {
                                    "AttributeName": "timestamp",
                                    "AttributeType": "timestamp"
                                },
                                {
                                    "AttributeName": "target_value",
                                    "AttributeType": "float"
                                },
                                {
                                    "AttributeName": "item_id",
                                    "AttributeType": "string"
                                }
                            ]
                        }
                    }
                ]
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.serviceError",
                    "Next": "Failure"
                }
            ],
            "Retry": [
                {
                    "ErrorEquals": [
                        "ResourcePending"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 15,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "CreateNewDatasetGroup"
        },
        "CreateNewDatasetGroup": {
            "Type": "Task",
            "Resource": "${CreateDatasetGroupArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.serviceError",
                    "Next": "Failure"
                }
            ],
            "Retry": [
                {
                    "ErrorEquals": [
                        "ResourcePending"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 5,
                    "BackoffRate": 2
                }
            ],
            "Next": "CreateNewDatasetImportJob"
        },
        "CreateNewDatasetImportJob": {
            "Type": "Task",
            "Resource": "${CreateDatasetImportJobArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.serviceError",
                    "Next": "Failure"
                }
            ],
            "Retry": [
                {
                    "ErrorEquals": [
                        "ResourcePending"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 15,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "CreateNewPredictor"
        },
        "CreateNewPredictor": {
            "Type": "Task",
            "Resource": "${CreatePredictorArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.serviceError",
                    "Next": "Failure"
                }
            ],
            "Retry": [
                {
                    "ErrorEquals": [
                        "ResourcePending"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 25,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "DeleteOutdatedPredictors"
        },
        "DeleteOutdatedPredictors": {
            "Type": "Task",
            "Resource": "${DeleteOutdatedPredictorsArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.serviceError",
                    "Next": "Failure"
                }
            ],
            "Retry": [
                {
                    "ErrorEquals": [
                        "ResourcePending"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 5,
                    "BackoffRate": 2
                }
            ],
            "Next": "DeleteOutdatedDatasetImportJobs"
        },
        "DeleteOutdatedDatasetImportJobs": {
            "Type": "Task",
            "Resource": "${DeleteOutdatedDatasetImportJobsArn}",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "ResultPath": "$.serviceError",
                    "Next": "Failure"
                }
            ],
            "Retry": [
                {
                    "ErrorEquals": [
                        "ResourcePending"
                    ],
                    "IntervalSeconds": 10,
                    "MaxAttempts": 5,
                    "BackoffRate": 2
                }
            ],
            "Next": "Done"
        },
        "Failure": {
            "Type": "Fail"
        },
        "Done": {
            "Type": "Succeed"
        }
    }
}